<%- include('partials/header.ejs') %>

<section id="title-area">
  <h1 class="title">Media<span class="highlight">Notes</span></h1>
  <p>
    This is a collection of various forms of media I've consumed including books
    and records. I've included my notes, thoughts, and any relevant information.
    Consider this a repository.
  </p>
</section>
<section id="entries">
  <h2>Entries:</h2>
  <% if(media) {%>
  <ul id="media-list">
    <% media.forEach(entry => { %>
    <li>
      <h3 class="entry-title"><%= entry.title %></h3>
      <h5>Album by <span class="highlight"><%= entry.artist %></span></h5>
      <img src="<%= entry.cover_url %>" alt="Album cover">
      <form action="/" method="post">
        <button
          type="submit"
          formaction="/view"
          name="viewEntry"
          value="<%= entry.id %>"
        >
          View
        </button>
        <button
          type="submit"
          formaction="/edit"
          name="editEntry"
          value="<%= entry.id %>"
        >
          Edit
        </button>
        <button
          type="submit"
          formaction="/delete"
          name="deleteEntry"
          value="<%= entry.id %>"
        >
          Delete
        </button>
      </form>
      <h5>added: <%= entry.created_at %></h5>
    </li>
    <% }) %>
  </ul>
  <% } %>
</section>
<section id="entry">
  <div id="entry-edit" data-visible="add">
    <% if (!editing.edit) {%>
    <h3>New Entry</h3>
    <form action="/new" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title-entry" required/>
      <label for="artist">Author:</label>
      <input type="text" name="artist" id="artist-entry" required/>
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="genre-entry" required/>
      <input type="submit" name="submit" id="submit" value="Submit" />
    </form>
    <% } %>
    <% if (editing.edit && editing.editId > 0) {%>
    <% let editEntry = media.find(entry => entry.id == editing.editId) %>
    <h3>Editing <%= editEntry.title %></h3>
    <form action="/new" method="post">
      <label for="title">Title:</label>
      <input
        type="text"
        name="title"
        id="title-entry"
        value="<%= editEntry.title %>"
        required
      />
      <label for="artist">Author:</label>
      <input
        type="text"
        name="artist"
        id="artist-entry"
        value="<%= editEntry.artist %>"
        required
      />
      <label for="genre">Genre:</label>
      <input
        type="text"
        name="genre"
        id="genre-entry"
        value="<%= editEntry.genre %>"
        required
      />
      <input type="hidden" name="editEntry" value="<%= editEntry.id %>">
      <input type="submit" name="submit" id="submit" />
    </form>
    <% } %>
  </div>
  <div id="delete-confirm" data-visible="delete"></div>
  <div id="added" data-visible="confirm"></div>
</section>

<%- include('partials/footer.ejs') %>
